<div class="container">
    <div class="row">
        <div class="col">
            <div id="maincard">
                <div>
                    <p>Builds</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            {{#each classes}}
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="{{img}}" alt="{{name}}"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/{{lowercase name}}">{{name}}</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>