<div class="container">
    <div class="row">
        <div class="col">
            <div id="maincard">
                <div>
                    <p>Builds</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/Runeblade">Runeblade</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/runeblade">Thieft</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/runeblade">Heavy Gunner</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/runeblade">Priest</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/runeblade">Assasin</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                            <tr>
                                <td class="text-center">
                                    <figure class="m-0 d-inline-block"><img src="/temp/img.jpg" class="rounded-circle" alt="" width="50"></figure>
                                </td>
                                <td class="font-weight-normal align-middle text-left" style="width:100%"><a href="/builds/runeblade">Berseker</a></td>
                                <td class="text-muted small text-right align-middle">212 builds</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>