<div class="container">
    <div class="row">
        <div class="col">
            <div id="main">
                <h3>Contact</h3>
                You can contact me via:
                <ul>
                    <li>Email: <a href="mailto:jecsham27@gmail.com">jecsham27@gmail.com</a></li>
                    <li>Twitter: <a href="https://twitter.com/jecsham">@jecsham</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>