<div class="container">
    <div class="row">
        <div class="col">
            <div id="maincard">
                <div>
                    <p>New Guide</p>
                </div>
                <form id="create-guide">
                    <div class="form-group">
                        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp"
                            placeholder="Enter a title" maxlength="150" required>
                        <small id="titleHelp" class="form-text text-muted">Max 150 characters</small>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="description" name="description" aria-describedby="titleHelp"
                            placeholder="Enter a short description" maxlength="150" required>
                        <small id="titleHelp" class="form-text text-muted">Max 300 characters</small>
                    </div>
                    <textarea name="editor_content" id="content" cols="30" rows="10"></textarea>
                    <div class="form-group">
                        <input name="tags" id="tags" placeholder='Write some tags, separe by commas' required>
                        <small id="titleHelp" class="form-text text-muted">Min 1 - Max 20 tags</small>
                    </div>
                    <button id="submitbtn" type="submit" class="btn btn-success btn-sm">Publicate</button>
                    <div id="status"></div>
                </form>
                <script>
                    'use strict'

                    var simplemde = new SimpleMDE({
                        element: $("#content")[0],
                        autosave: {
                            enabled: true,
                            uniqueId: "521048",
                            delay: 1000,
                        },
                        spellChecker: false
                    });
                    $(document).ready(function () {
                        $('#create-guide').submit(function (event) {
                            $('#submitbtn').attr('disabled', 'disabled');
                            $('#status').html('<p class="text-success">Please wait...<p>');
                            var formData = {
                                'title': $('input[name=title]').val(),
                                'description': $('input[name=description]').val(),
                                'content': simplemde.value(),
                                'tags': $('#tags').val()
                            };
                            $.ajax({
                                type: 'POST',
                                url: '/create-guide/submit',
                                data: formData,
                                dataType: 'json',
                                encode: true,
                                success: function (data) {
                                    $('#status').html('<p class="text-success">Submited! Redirecting to your post... 😀<p>');
                                    var timer = setTimeout(() => {
                                        window.location = '/guides';
                                    }, 3000);
                                },
                                error: function () {
                                    console.log('process error');
                                },
                            });
                            event.preventDefault();
                        });

                        $('#tags')
                            .tagify({
                                maxTags: 20
                            });
                    });
                </script>
            </div>
        </div>
    </div>
</div>