<div class="container">
    <div class="row">
        <div class="col">
            <div id="main">
                <div>
                    <p>Select Class</p>
                </div>
                <div class="mt-3">
                    <button id="submitbtn" type="submit" class="btn btn-success btn-sm">Publicate</button> <button type="button"
                        class="btn btn-info btn-sm" data-toggle="modal" id="cmLauncher" data-target="#canvasModal">Save
                        as PNG</button>
                    <div id="status" class="mt-3"></div>
                </div>
            </div>
        </div>
    </div>
</div>