<div class="container">
    <div class="row">
        <div class="col">
            <div id="maincard">
                <div>
                    <p>Guides</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="font-weight-normal align-middle"><a href="#">Get all golden chest guide ever EPIC Runeblade recomedable</a></th>
                                <th class="text-muted small text-right align-middle"><span class="mdi mdi-thumb-up"></span>
                                    5 <span class="mdi mdi-comment"></span>
                                    21</th>
                                <th class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a><br>7
                                    days ago</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>