<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="maincard">
                <div>
                    <p>Latest News</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-1">
                        <tbody>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide ever [EPICchest guide ever [EPIC] [] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecshasssssssssssm</a><br>
                                    7 days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide eveqwqwqwqwr [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chestchest guide ever [EPIC] [chest guide ever [EPIC] [ guide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guasaside ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guasasasasaschest guide ever [EPIC] [ide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right pb-1 small">
                    <a href="#">Show more...</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div id="maincard">
                <div>
                    <p>Popular Builds</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover mb-1">
                        <tbody>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide ever [EPICchest guide ever [EPIC] [] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecshasssssssssssm</a><br>
                                    7 days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide eveqwqwqwqwr [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chestchest guide ever [EPIC] [chest guide ever [EPIC] [ guide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guasaside ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guasasasasaschest guide ever [EPIC] [ide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                            <tr>
                                <td class="small align-middle"><a href="#">Get all golden chest guide ever [EPIC] [Runeblade
                                        recomedable]</a></td>
                                <td class="text-muted small text-right align-middle"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="text-right pb-1 small">
                    <a href="#">Show more...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>