<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div id="maincard">
                <div>
                    <p>Guides</p>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest guide ever [EPIC] [Runeblade
                                        recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Jecsham</a>
                                    • 7
                                    days ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest, the besto guide ever [EPIC]
                                        [Runeblade recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Jecsham//836656</a>
                                    • 7 days ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest, the besto guide ever
                                        [[Runeblade
                                        recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Jecshamsdfsd</a>
                                    • 7 days ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Bit</a>
                                    • 7 days
                                    ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest, the besto guide ever [EPIC]
                                        [Runeblade recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Jecsham//836656</a>
                                    • 7 days ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest, the besto guide ever
                                        [[Runeblade
                                        recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Jecshamsdfsd</a>
                                    • 7 days ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">Get all golden chest</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">Bit</a>
                                    • 7 days
                                    ago</th>
                            </tr>
                            <tr>
                                <th class="small"><a href="#">the besto guide ever [EPIC] [Runeblade
                                        recomedable]</a></th>
                                <th class="text-muted small text-right"><a class="text-muted" href="#">typicaluser
                                        |
                                        APAGECSGO.IO</a> • 7 days ago</th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>