<!-- Report Modal-->
{{#if user}}
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Report {{post.title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Why do you want to report this post?
                <select class="form-control form-control-sm" name="reportReason">
                    <option value="0">Select a option</option>
                    {{#each report.reasons}}
                    <option value="{{_id}}">{{name}}</option>
                    {{/each}}
                    <option value="1">Other</option>
                </select>
                <input type="hidden" value="{{post.postType}}" name="postType">
                <div id="status" class="mt-1"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" id="cancelbtnreport">Cancel</button>
                <button type="button" class="reportbtn btn btn-danger btn-sm" id="sendreport">Send report</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
    $('#sendreport').click(function (event) {
        $('#sendreport').attr('disabled', 'disabled');
        $('#cancelbtnreport').attr('disabled', 'disabled');
        $('#status').html('<div class="alert alert-success">Please wait...</div>');
        var sendData = {
            'reportReason': $('select[name="reportReason"]').val(),
            'postType': 'postType': $('input[name=postType]').val()
        };
        console.log(sendData.reportReason)
        $.ajax({
            type: 'POST',
            url: '/report/post',
            data: sendData,
            dataType: 'json',
            encode: true,
            success: () => {
                $('#status').html('<p class="alert alert-success"><strong>Deleted!</strong> Redirecting to /home ... 😀<p>');
                var timer = setTimeout(() => {
                    window.location = '/home';
                }, 3000);
            },
            error: (resdata) => {
                $('#status').html('<div class="alert alert-danger" role="alert"><strong>Error:</strong> '+resdata.responseJSON.error+'</div>');
            },
        });
        event.preventDefault();
    });
});
</script>
{{/if}}