<script>
    var class_name = "archer";
</script>
<h6>Archer Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> / <strong id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell"><strong>Level 1</strong></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10500001"
                        data-hasqtip="1419" aria-describedby="qtip-1419"><img src="/assets/skill/icon/10500001.png">
                        <div id="lock-10500001" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500001" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500001">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10500001"></span>/<span class="lv_value" id="point-max-10500001"></span><button
                            class="skill_btn" name="btn" data-skillid="10500001">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10500111"
                        data-hasqtip="1420"><img src="/assets/skill/icon/10500111.png">
                        <div id="lock-10500111" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500111" data-max_level="1"><button name="-btn" class="skill_btn" data-skillid="10500111">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10500111"></span>/<span class="lv_value" id="point-max-10500111"></span><button
                            class="skill_btn" name="btn" data-skillid="10500111">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10500151"
                        data-hasqtip="1421"><img src="/assets/skill/icon/10500151.png">
                        <div id="lock-10500151" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500151" data-max_level="1"><button name="-btn" class="skill_btn"data-skillid="10500151">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10500151"></span>/<span class="lv_value" id="point-max-10500151"></span><button
                            class="skill_btn" name="btn" data-skillid="10500151">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 10</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10500011"
                        data-hasqtip="1422"><img src="/assets/skill/icon/10500011.png">
                        <div id="lock-10500011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500011" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500011">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10500011"></span>/<span class="lv_value" id="point-max-10500011"></span><button
                            class="skill_btn" name="btn" data-skillid="10500011">+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 20</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500021"
                        data-hasqtip="1436"><img src="/assets/skill/icon/10500021.png">
                        <div id="lock-10500021" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500021" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500021">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500021"></span>/<span class="lv_value" id="point-max-10500021"></span><button
                            class="skill_btn" name="btn" data-skillid="10500021">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500041"
                        data-hasqtip="1424"><img src="/assets/skill/icon/10500041.png">
                        <div id="lock-10500041" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500041" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500041">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500041"></span>/<span class="lv_value" id="point-max-10500041"></span><button
                            class="skill_btn" name="btn" data-skillid="10500041">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500071"
                        data-hasqtip="1425"><img src="/assets/skill/icon/10500071.png">
                        <div id="lock-10500071" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500071" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500071">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500071"></span>/<span class="lv_value" id="point-max-10500071"></span><button
                            class="skill_btn" name="btn" data-skillid="10500071">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500121"
                        data-hasqtip="1426"><img src="/assets/skill/icon/10500121.png">
                        <div id="lock-10500121" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500121" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500121">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500121"></span>/<span class="lv_value" id="point-max-10500121"></span><button
                            class="skill_btn" name="btn" data-skillid="10500121">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_96_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 30</strong></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500101"
                        data-hasqtip="1442"><img src="/assets/skill/icon/10500101.png">
                        <div id="lock-10500101" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500101" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500101">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500101"></span>/<span class="lv_value" id="point-max-10500101"></span><button
                            class="skill_btn" name="btn" data-skillid="10500101">+</button></div>
                </td>
                <td class="line_v_sp"></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500031"
                        data-hasqtip="1437"><img src="/assets/skill/icon/10500031.png">
                        <div id="lock-10500031" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500031" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500031">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500031"></span>/<span class="lv_value" id="point-max-10500031"></span><button
                            class="skill_btn" name="btn" data-skillid="10500031">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500081"
                        data-hasqtip="1440"><img src="/assets/skill/icon/10500081.png">
                        <div id="lock-10500081" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500081" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500081">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500081"></span>/<span class="lv_value" id="point-max-10500081"></span><button
                            class="skill_btn" name="btn" data-skillid="10500081">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp"></td>
                <td class="line_v_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 40</strong></td>
                <td class="skill_cell"></td>
                <td class="line_v_sp"></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500131"
                        data-hasqtip="1443"><img src="/assets/skill/icon/10500131.png">
                        <div id="lock-10500131" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500131" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500131">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500131"></span>/<span class="lv_value" id="point-max-10500131"></span><button
                            class="skill_btn" name="btn" data-skillid="10500131">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500091"
                        data-hasqtip="1441"><img src="/assets/skill/icon/10500091.png">
                        <div id="lock-10500091" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500091" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500091">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500091"></span>/<span class="lv_value" id="point-max-10500091"></span><button
                            class="skill_btn" name="btn" data-skillid="10500091">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500061"
                        data-hasqtip="1439"><img src="/assets/skill/icon/10500061.png">
                        <div id="lock-10500061" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500061" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500061">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500061"></span>/<span class="lv_value" id="point-max-10500061"></span><button
                            class="skill_btn" name="btn" data-skillid="10500061">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td></td>
                <td class="line_v_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2"><strong>Level 50</strong></td>
                <td class="skill_cell line_hr pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500141"
                        data-hasqtip="1444"><img src="/assets/skill/icon/10500141.png">
                        <div id="lock-10500141" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500141" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500141">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500141"></span>/<span class="lv_value" id="point-max-10500141"></span><button
                            class="skill_btn" name="btn" data-skillid="10500141">+</button></div>
                </td>
                <td class="line_129_sp"></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500051"
                        data-hasqtip="1438"><img src="/assets/skill/icon/10500051.png">
                        <div id="lock-10500051" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500051" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500051">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500051"></span>/<span class="lv_value" id="point-max-10500051"></span><button
                            class="skill_btn" name="btn" data-skillid="10500051">+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="skill_cell pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10500161"
                        data-hasqtip="1435"><img src="/assets/skill/icon/10500161.png">
                        <div id="lock-10500161" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10500161" data-max_level="10"><button name="-btn" class="skill_btn" data-skillid="10500161">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10500161"></span>/<span class="lv_value" id="point-max-10500161"></span><button
                            class="skill_btn" name="btn" data-skillid="10500161">+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>