<script>
    var class_name = "assassin";
</script>
<h6>Assassin Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> / <strong id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell">Level 1</td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10800001"
                        data-hasqtip="2255" aria-describedby="qtip-2255"><img src="/assets/skill/icon/10800001.png">
                        <div id="lock-10800001" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800001"><button class="skill_btn" data-skillid="10800001" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800001" data-lv="1"></span>/<span id="point-max-10800001" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800001" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10800081"
                        data-hasqtip="2256"><img src="/assets/skill/icon/10800081.png">
                        <div id="lock-10800081" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800081"><button class="skill_btn" data-skillid="10800081" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800081" data-lv="1"></span>/<span id="point-max-10800081" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800081" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10800071"
                        data-hasqtip="2257"><img src="/assets/skill/icon/10800071.png">
                        <div id="lock-10800071" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800071"><button class="skill_btn" data-skillid="10800071" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800071" data-lv="1"></span>/<span id="point-max-10800071" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800071" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_h"></td>
                <td class="line_96"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom">Level 10</td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10800021"
                        data-hasqtip="2258"><img src="/assets/skill/icon/10800021.png">
                        <div id="lock-10800021" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800021"><button class="skill_btn" data-skillid="10800021" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800021" data-lv="1"></span>/<span id="point-max-10800021" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800021" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom">Level 20</td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800121"
                        data-hasqtip="2277"><img src="/assets/skill/icon/10800121.png">
                        <div id="lock-10800121" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800121"><button class="skill_btn" data-skillid="10800121" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800121" data-lv="0"></span>/<span id="point-max-10800121" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800121" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800011"
                        data-hasqtip="2260"><img src="/assets/skill/icon/10800011.png">
                        <div id="lock-10800011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800011"><button class="skill_btn" data-skillid="10800011" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800011" data-lv="0"></span>/<span id="point-max-10800011" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800011" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800051"
                        data-hasqtip="2261"><img src="/assets/skill/icon/10800051.png">
                        <div id="lock-10800051" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800051"><button class="skill_btn" data-skillid="10800051" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800051" data-lv="0"></span>/<span id="point-max-10800051" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800051" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800041"
                        data-hasqtip="2262"><img src="/assets/skill/icon/10800041.png">
                        <div id="lock-10800041" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800041"><button class="skill_btn" data-skillid="10800041" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800041" data-lv="0"></span>/<span id="point-max-10800041" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800041" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom">Level 30</td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800101"
                        data-hasqtip="2275"><img src="/assets/skill/icon/10800101.png">
                        <div id="lock-10800101" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800101"><button class="skill_btn" data-skillid="10800101" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800101" data-lv="0"></span>/<span id="point-max-10800101" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800101" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800031"
                        data-hasqtip="2272"><img src="/assets/skill/icon/10800031.png">
                        <div id="lock-10800031" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800031"><button class="skill_btn" data-skillid="10800031" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800031" data-lv="0"></span>/<span id="point-max-10800031" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800031" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800091"
                        data-hasqtip="2274"><img src="/assets/skill/icon/10800091.png">
                        <div id="lock-10800091" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800091"><button class="skill_btn" data-skillid="10800091" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800091" data-lv="0"></span>/<span id="point-max-10800091" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800091" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom">Level 40</td>
                <td class="line_v"></td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800141"
                        data-hasqtip="2279"><img src="/assets/skill/icon/10800141.png">
                        <div id="lock-10800141" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800141"><button class="skill_btn" data-skillid="10800141" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800141" data-lv="0"></span>/<span id="point-max-10800141" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800141" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800131"
                        data-hasqtip="2278"><img src="/assets/skill/icon/10800131.png">
                        <div id="lock-10800131" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800131"><button class="skill_btn" data-skillid="10800131" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800131" data-lv="0"></span>/<span id="point-max-10800131" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800131" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800061"
                        data-hasqtip="2273"><img src="/assets/skill/icon/10800061.png">
                        <div id="lock-10800061" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800061"><button class="skill_btn" data-skillid="10800061" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800061" data-lv="0"></span>/<span id="point-max-10800061" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800061" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2">Level 50</td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800111"
                        data-hasqtip="2276"><img src="/assets/skill/icon/10800111.png">
                        <div id="lock-10800111" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800111"><button class="skill_btn" data-skillid="10800111" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800111" data-lv="0"></span>/<span id="point-max-10800111" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800111" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800151"
                        data-hasqtip="2280"><img src="/assets/skill/icon/10800151.png">
                        <div id="lock-10800151" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800151"><button class="skill_btn" data-skillid="10800151" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800151" data-lv="0"></span>/<span id="point-max-10800151" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800151" name="btn">+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10800161"
                        data-hasqtip="2281"><img src="/assets/skill/icon/10800161.png">
                        <div id="lock-10800161" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10800161"><button class="skill_btn" data-skillid="10800161" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10800161" data-lv="0"></span>/<span id="point-max-10800161" class="lv_value"></span><button
                            class="skill_btn" data-skillid="10800161" name="btn">+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>