<script>
    var class_name = "berserker";
</script>
<h6>Berserker Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> / <strong
        id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell"><strong>Level 1</strong></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" ><img src="/assets/skill/icon/10200001.png">
                        <div class="lock_state" id="lock-10200001"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200001"><button class="skill_btn" data-skillid="10200001" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200001"></span>/<span class="lv_value" id="point-max-10200001"></span><button
                            class="skill_btn" data-skillid="10200001" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip"><img src="/assets/skill/icon/10200031.png">
                        <div id="lock-10200031" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200031" data-max_level="1"><button class="skill_btn"
                     data-skillid="10200031" name="-btn">-</button><span class="skill_level lv_value" id="point-10200031"></span>/<span class="lv_value" id="point-max-10200031"></span><button
                            class="skill_btn" data-skillid="10200031" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" ><img src="/assets/skill/icon/10200091.png">
                        <div id="lock-" class="lock_state" id="lock-10200091"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200091" data-max_level="1"><button class="skill_btn"
                            data-skillid="10200091" name="-btn">-</button><span class="skill_level lv_value" id="point-10200091"></span>/<span class="lv_value" id="point-max-10200091"></span><button
                            class="skill_btn" data-skillid="10200091" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_h"></td>
                <td class="line_6"></td>
                <td class="line_h"></td>
                <td class="line_6"></td>
                <td class="line_h"></td>
                <td class="line_96"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 10</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" ><img src="/assets/skill/icon/10200011.png">
                        <div id="lock-10200011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200011"><button class="skill_btn" data-skillid="10200011" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200011"></span>/<span class="lv_value" id="point-max-10200011"></span><button
                            class="skill_btn" data-skillid="10200011" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 20</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200021.png">
                        <div id="lock-10200021" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200021"><button class="skill_btn" data-skillid="10200021" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200021"></span>/<span class="lv_value" id="point-max-10200021"></span><button
                            class="skill_btn" data-skillid="10200021" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200041.png">
                        <div id="lock-" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200041"><button class="skill_btn" data-skillid="10200041" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200041"></span>/<span class="lv_value" id="point-max-10200041"></span><button
                            class="skill_btn" data-skillid="10200041" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200051.png">
                        <div id="lock-10200051" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200051"><button class="skill_btn" data-skillid="10200051" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200051"></span>/<span class="lv_value" id="point-max-10200051"></span><button
                            class="skill_btn" data-skillid="10200051" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200121.png">
                        <div id="lock-10200121" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200121"><button class="skill_btn" data-skillid="10200121" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200121"></span>/<span class="lv_value" id="point-max-10200121"></span><button
                            class="skill_btn" data-skillid="10200121" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 30</strong></td>
                <td class="line_v"></td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200071.png">
                        <div id="lock-10200071" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200071"><button class="skill_btn" data-skillid="10200071" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200071"></span>/<span class="lv_value" id="point-max-10200071"></span><button
                            class="skill_btn" data-skillid="10200071" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200081.png">
                        <div id="lock-10200081" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200081"><button class="skill_btn" data-skillid="10200081" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200081"></span>/<span class="lv_value" id="point-max-10200081"></span><button
                            class="skill_btn" data-skillid="10200081" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200061.png">
                        <div id="lock-10200061" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200061"><button class="skill_btn" data-skillid="10200061" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200061"></span>/<span class="lv_value" id="point-max-10200061"></span><button
                            class="skill_btn" data-skillid="10200061" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 40</strong></td>
                <td class="line_v"></td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200151.png">
                        <div id="lock-10200151" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200151"><button class="skill_btn" data-skillid="10200151" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200151"></span>/<span class="lv_value" id="point-max-10200151"></span><button
                            class="skill_btn" data-skillid="10200151" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200141.png">
                        <div id="lock-10200141" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200141"><button class="skill_btn" data-skillid="10200141" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200141"></span>/<span class="lv_value" id="point-max-10200141"></span><button
                            class="skill_btn" data-skillid="10200141" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200111.png">
                        <div id="lock-10200111" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200111"><button class="skill_btn" data-skillid="10200111" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200111"></span>/<span class="lv_value" id="point-max-10200111"></span><button
                            class="skill_btn" data-skillid="10200111" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2"><strong>Level 50</strong></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200131.png">
                        <div id="lock-10200131" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200131"><button class="skill_btn" data-skillid="10200131" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200131"></span>/<span class="lv_value" id="point-max-10200131"></span><button
                            class="skill_btn" data-skillid="10200131" name="btn">+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200101.png">
                        <div id="lock-10200101" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200101"><button class="skill_btn" data-skillid="10200101" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200101"></span>/<span class="lv_value" id="point-max-10200101"></span><button
                            class="skill_btn" data-skillid="10200101" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enchant="0" ><img src="/assets/skill/icon/10200161.png">
                        <div id="lock-10200161" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10200161"><button class="skill_btn" data-skillid="10200161" name="-btn">-</button><span
                            class="skill_level lv_value" id="point-10200161"></span>/<span class="lv_value" id="point-max-10200161"></span><button
                            class="skill_btn" data-skillid="10200161" name="btn">+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>