<script>
    var class_name = "hgunner";
</script>
<h6>Heavy Gunner Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> /
    <strong id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell"><strong>Level 1</strong></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600101"
                        data-hasqtip="1039"><img src="/assets/skill/icon/10600101.png">
                        <div id="lock-10600101" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600101" data-max_level="10"><button data-skillid="10600101" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10600101"></span>/<span id="point-max-10600101" class="lv_value"></span><button
                            data-skillid="10600101" name="btn" class="skill_btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600071"
                        data-hasqtip="1040"><img src="/assets/skill/icon/10600071.png">
                        <div id="lock-10600071" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600071" data-max_level="1"><button data-skillid="10600071" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10600071"></span>/<span id="point-max-10600071" class="lv_value"></span><button
                           data-skillid="10600071" name="btn"  class="skill_btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600081"
                        data-hasqtip="1041"><img src="/assets/skill/icon/10600081.png">
                        <div id="lock-10600081" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600081" data-max_level="1"><button data-skillid="10600081" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10600081"></span>/<span id="point-max-10600081" class="lv_value"></span><button
                           data-skillid="10600081" name="btn"  class="skill_btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_h"></td>
                <td class="line_96"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 10</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600001"
                        data-hasqtip="1042"><img src="/assets/skill/icon/10600001.png">
                        <div id="lock-10600001" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600001" data-max_level="10"><button data-skillid="10600001" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10600001"></span>/<span id="point-max-10600001" class="lv_value"></span><button
                            data-skillid="10600001" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 20</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600021"
                        data-hasqtip="1056" aria-describedby="qtip-1056"><img src="/assets/skill/icon/10600021.png">
                        <div id="lock-10600021" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600021" data-max_level="10"><button data-skillid="10600021" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600021"></span>/<span id="point-max-10600021" class="lv_value"></span><button
                            data-skillid="10600021" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600061"
                        data-hasqtip="1059"><img src="/assets/skill/icon/10600061.png">
                        <div id="lock-10600061" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600061" data-max_level="10"><button data-skillid="10600061" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600061"></span>/<span id="point-max-10600061" class="lv_value"></span><button
                            data-skillid="10600061" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600011"
                        data-hasqtip="1045"><img src="/assets/skill/icon/10600011.png">
                        <div id="lock-10600011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600011" data-max_level="10"><button data-skillid="10600011" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600011"></span>/<span id="point-max-10600011" class="lv_value"></span><button
                            data-skillid="10600011" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600051"
                        data-hasqtip="1046"><img src="/assets/skill/icon/10600051.png">
                        <div id="lock-10600051" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600051" data-max_level="10"><button data-skillid="10600051" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600051"></span>/<span id="point-max-10600051" class="lv_value"></span><button
                            data-skillid="10600051" name="btn" class="skill_btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 30</strong></td>
                <td class="skill_cell line_v"></td>
                <td class="line_63_m_special"></td>
                <td class="skill_cell line_9_m_special">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600041"
                        data-hasqtip="1058"><img src="/assets/skill/icon/10600041.png">
                        <div id="lock-10600041" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600041" data-max_level="10"><button data-skillid="10600041" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600041"></span>/<span id="point-max-10600041" class="lv_value"></span><button
                            data-skillid="10600041" name="btn" class="skill_btn">+</button></div>
                </td>
                <td class="line_63_m_special"></td>
                <td class="skill_cell line_9_m_special">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600031"
                        data-hasqtip="1057"><img src="/assets/skill/icon/10600031.png">
                        <div id="lock-10600031" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600031" data-max_level="10"><button data-skillid="10600031" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600031"></span>/<span id="point-max-10600031" class="lv_value"></span><button
                            data-skillid="10600031" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600131"
                        data-hasqtip="1062"><img src="/assets/skill/icon/10600131.png">
                        <div id="lock-10600131" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600131" data-max_level="10"><button data-skillid="10600131" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600131"></span>/<span id="point-max-10600131" class="lv_value"></span><button
                            data-skillid="10600131" name="btn" class="skill_btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td class="line_v_sp"></td>
                <td class="line_v"></td>
                <td class="line_v_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 40</strong></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600111"
                        data-hasqtip="1060"><img src="/assets/skill/icon/10600111.png">
                        <div id="lock-10600111" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600111" data-max_level="10"><button data-skillid="10600111" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600111"></span>/<span id="point-max-10600111" class="lv_value"></span><button
                            data-skillid="10600111" name="btn" class="skill_btn">+</button></div>
                </td>
                <td class="line_v_sp"></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600151"
                        data-hasqtip="1064"><img src="/assets/skill/icon/10600151.png">
                        <div id="lock-10600151" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600151" data-max_level="10"><button data-skillid="10600151" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600151"></span>/<span id="point-max-10600151" class="lv_value"></span><button
                            data-skillid="10600151" name="btn" class="skill_btn">+</button></div>
                </td>
                <td class="line_v_sp"></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600121"
                        data-hasqtip="1061"><img src="/assets/skill/icon/10600121.png">
                        <div id="lock-10600121" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600121" data-max_level="10"><button data-skillid="10600121" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600121"></span>/<span id="point-max-10600121" class="lv_value"></span><button
                            data-skillid="10600121" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td></td>
                <td class="line_v_sp"></td>
                <td></td>
                <td class="line_v_sp"></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2"><strong>Level 50</strong></td>
                <td></td>
                <td class="line_123_sp"></td>
                <td class="skill_cell line_hl pb-2">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600161"
                        data-hasqtip="1065"><img src="/assets/skill/icon/10600161.png">
                        <div id="lock-10600161" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600161" data-max_level="10"><button data-skillid="10600161" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600161"></span>/<span id="point-max-10600161" class="lv_value"></span><button
                            data-skillid="10600161" name="btn" class="skill_btn">+</button></div>
                </td>
                <td class="line_123_sp"></td>
                <td class="skill_cell line_hl pb-2">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600141"
                        data-hasqtip="1063"><img src="/assets/skill/icon/10600141.png">
                        <div id="lock-10600141" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600141" data-max_level="10"><button data-skillid="10600141" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600141"></span>/<span id="point-max-10600141" class="lv_value"></span><button
                            data-skillid="10600141" name="btn" class="skill_btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell pb-2">
                    <div class="skill_wrapper qtooltip" data-id="skill--10600091"
                        data-hasqtip="1055"><img src="/assets/skill/icon/10600091.png">
                        <div id="lock-10600091" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10600091" data-max_level="10"><button data-skillid="10600091" name="-btn" class="skill_btn">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10600091"></span>/<span id="point-max-10600091" class="lv_value"></span><button
                            data-skillid="10600091" name="btn" class="skill_btn">+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>