<script>
    var class_name = "runeblade";
</script>
<h6>Runeblade Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> / <strong
        id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell"><strong>Level 1</strong></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10900031"
                        data-hasqtip="1082" aria-describedby="qtip-1082"><img src="/assets/skill/icon/10900031.png">
                        <div id="lock-10900031" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900031" data-max_level="1"><button class="skill_btn" name="-btn" data-skillid="10900031">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10900031">0</span>/<span id="point-max-10900031" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900031" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="10" data-id="skill--10900041"
                        data-hasqtip="1083"><img src="/assets/skill/icon/10900041.png">
                        <div id="lock-10900041" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900041" data-max_level="1"><button class="skill_btn" name="-btn" data-skillid="10900041">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10900041">0</span>/<span id="point-max-10900041" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900041" name="btn">+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10900051"
                        data-hasqtip="1084"><img src="/assets/skill/icon/10900051.png">
                        <div id="lock-10900051" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900051" data-max_level="1"><button class="skill_btn" name="-btn" data-skillid="10900051">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10900051">0</span>/<span id="point-max-10900051" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900051" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_h"></td>
                <td class="line_96"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 10</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10900151"
                        data-hasqtip="1085"><img src="/assets/skill/icon/10900151.png">
                        <div id="lock-10900151" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900151" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900151">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10900151">0</span>/<span id="point-max-10900151" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900151" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 20</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900071"
                        data-hasqtip="1100" aria-describedby="qtip-1100"><img src="/assets/skill/icon/10900071.png">
                        <div id="lock-10900071" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900071" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900071">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900071">0</span>/<span id="point-max-10900071" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900071" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900061"
                        data-hasqtip="1099"><img src="/assets/skill/icon/10900061.png">
                        <div id="lock-10900061" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900061" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900061">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900061">0</span>/<span id="point-max-10900061" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900061" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900001"
                        data-hasqtip="1088"><img src="/assets/skill/icon/10900001.png">
                        <div id="lock-10900001" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900001" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900001">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900001">0</span>/<span id="point-max-10900001" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900001" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900081"
                        data-hasqtip="1089"><img src="/assets/skill/icon/10900081.png">
                        <div id="lock-10900081" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900081" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900081">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900081">0</span>/<span id="point-max-10900081" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900081" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 30</strong></td>
                <td class="line_v"></td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900111"
                        data-hasqtip="1103"><img src="/assets/skill/icon/10900111.png">
                        <div id="lock-10900111" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900111" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900111">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900111">0</span>/<span id="point-max-10900111" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900111" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900011"
                        data-hasqtip="1091"><img src="/assets/skill/icon/10900011.png">
                        <div id="lock-10900011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900011" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900011">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900011">0</span>/<span id="point-max-10900011" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900011" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900091"
                        data-hasqtip="1101"><img src="/assets/skill/icon/10900091.png">
                        <div id="lock-10900091" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900091" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900091">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900091">0</span>/<span id="point-max-10900091" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900091" name="btn">+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 40</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900121"
                        data-hasqtip="1104"><img src="/assets/skill/icon/10900121.png">
                        <div id="lock-10900121" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900121" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900121">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900121">0</span>/<span id="point-max-10900121" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900121" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900141"
                        data-hasqtip="1106"><img src="/assets/skill/icon/10900141.png">
                        <div id="lock-10900141" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900141" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900141">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900141">0</span>/<span id="point-max-10900141" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900141" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900021"
                        data-hasqtip="1095"><img src="/assets/skill/icon/10900021.png">
                        <div id="lock-10900021" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900021" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900021">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900021">0</span>/<span id="point-max-10900021" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900021" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2"><strong>Level 50</strong></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900101"
                        data-hasqtip="1102"><img src="/assets/skill/icon/10900101.png">
                        <div id="lock-10900101" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900101" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900101">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900101">0</span>/<span id="point-max-10900101" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900101" name="btn">+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td class="skill_cell pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900161"
                        data-hasqtip="1097"><img src="/assets/skill/icon/10900161.png">
                        <div id="lock-10900161" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900161" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900161">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900161">0</span>/<span id="point-max-10900161" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900161" name="btn">+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10900131"
                        data-hasqtip="1105"><img src="/assets/skill/icon/10900131.png">
                        <div id="lock-10900131" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10900131" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10900131">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10900131">0</span>/<span id="point-max-10900131" class="lv_value">10</span><button
                            class="skill_btn" data-skillid="10900131" name="btn">+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>