<script>
    var class_name = "thief";
</script>
<h6>Thief Build | <span id="buildtype">PvX</span> | Remaining points: <strong id="max-points"></strong> / <strong id="max-points-cap"></strong>
    <button class="btn btn-secundary btn-sm" id="resetbuildbtn">Reset</button></h6>
<div id="skill_pane" class="table-responsive">
    <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: collapse" class="skill_builder_table">
        <tbody>
            <tr>
                <td class="level_cell"><strong>Level 1</strong></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10700001"
                        data-hasqtip="1937"><img src="/assets/skill/icon/10700001.png">
                        <div id="lock-10700001" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700001" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700001">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10700001"></span>/<span class="lv_value" id="point-max-10700001"></span><button
                            class="skill_btn" data-skillid="10700001" name="btn" >+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="empty_cell"></td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10700061"
                        data-hasqtip="1938"><img src="/assets/skill/icon/10700061.png">
                        <div id="lock-10700061" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700061" data-max_level="1"><button class="skill_btn" name="-btn" data-skillid="10700061">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10700061"></span>/<span class="lv_value" id="point-max-10700061"></span><button
                            class="skill_btn" data-skillid="10700061" name="btn" >+</button></div>
                </td>
                <td class="empty_cell_sp"></td>
                <td class="skill_cell">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10700041"
                        data-hasqtip="1939"><img src="/assets/skill/icon/10700041.png">
                        <div id="lock-10700041" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700041" data-max_level="1"><button class="skill_btn" name="-btn" data-skillid="10700041">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10700041"></span>/<span class="lv_value" id="point-max-10700041"></span><button
                            class="skill_btn" data-skillid="10700041" name="btn" >+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 10</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="1" data-id="skill--10700011"
                        data-hasqtip="1940" aria-describedby="qtip-1940"><img src="/assets/skill/icon/10700011.png">
                        <div id="lock-10700011" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700011" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700011">-</button><span
                            class="skill_level lv_value" data-lv="1" id="point-10700011"></span>/<span class="lv_value" id="point-max-10700011"></span><button
                            class="skill_btn" data-skillid="10700011" name="btn" >+</button></div>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 20</strong></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700111"
                        data-hasqtip="1960" aria-describedby="qtip-1960"><img src="/assets/skill/icon/10700111.png">
                        <div id="lock-10700111" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700111" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700111">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700111"></span>/<span class="lv_value" id="point-max-10700111"></span><button
                            class="skill_btn" data-skillid="10700111" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700141"
                        data-hasqtip="1942" aria-describedby="qtip-1942"><img src="/assets/skill/icon/10700141.png">
                        <div id="lock-10700141" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700141" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700141">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700141"></span>/<span class="lv_value" id="point-max-10700141"></span><button
                            class="skill_btn" data-skillid="10700141" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700051"
                        data-hasqtip="1943"><img src="/assets/skill/icon/10700051.png">
                        <div id="lock-10700051" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700051" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700051">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700051"></span>/<span class="lv_value" id="point-max-10700051"></span><button
                            class="skill_btn" data-skillid="10700051" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700121"
                        data-hasqtip="1944"><img src="/assets/skill/icon/10700121.png">
                        <div id="lock-10700121" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700121" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700121">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700121"></span>/<span class="lv_value" id="point-max-10700121"></span><button
                            class="skill_btn" data-skillid="10700121" name="btn" >+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_123_special"></td>
                <td class="line_h"></td>
                <td class="line_9"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 30</strong></td>
                <td class="skill_cell line_v"></td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700031"
                        data-hasqtip="1955"><img src="/assets/skill/icon/10700031.png">
                        <div id="lock-10700031" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700031" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700031">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700031"></span>/<span class="lv_value" id="point-max-10700031"></span><button
                            class="skill_btn" data-skillid="10700031" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vd">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700131"
                        data-hasqtip="1946"><img src="/assets/skill/icon/10700131.png">
                        <div id="lock-10700131" class="lock_state"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700131" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700131">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700131"></span>/<span class="lv_value" id="point-max-10700131"></span><button
                            class="skill_btn" data-skillid="10700131" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700021"
                        data-hasqtip="1954"><img src="/assets/skill/icon/10700021.png">
                        <div id="lock-10700021" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700021" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700021">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700021"></span>/<span class="lv_value" id="point-max-10700021"></span><button
                            class="skill_btn" data-skillid="10700021" name="btn" >+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td class="empty_cell_sp line_3"></td>
                <td class="line_96_sp"></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom"><strong>Level 40</strong></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700091"
                        data-hasqtip="1958"><img src="/assets/skill/icon/10700091.png">
                        <div id="lock-10700091" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700091" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700091">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700091"></span>/<span class="lv_value" id="point-max-10700091"></span><button
                            class="skill_btn" data-skillid="10700091" name="btn" >+</button></div>
                </td>
                <td class="line_v_sp"></td>
                <td class="skill_cell line_vu">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700101"
                        data-hasqtip="1959"><img src="/assets/skill/icon/10700101.png">
                        <div id="lock-10700101" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700101" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700101">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700101"></span>/<span class="lv_value" id="point-max-10700101"></span><button
                            class="skill_btn" data-skillid="10700101" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="skill_cell line_v">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700081"
                        data-hasqtip="1957"><img src="/assets/skill/icon/10700081.png">
                        <div id="lock-10700081" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700081" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700081">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700081"></span>/<span class="lv_value" id="point-max-10700081"></span><button
                            class="skill_btn" data-skillid="10700081" name="btn" >+</button></div>
                </td>
            </tr>
            <tr>
                <td class="level_cell_sp"></td>
                <td></td>
                <td class="line_v_sp"></td>
                <td></td>
                <td></td>
                <td class="line_v"></td>
                <td></td>
                <td class="line_v"></td>
            </tr>
            <tr>
                <td class="level_cell align-bottom pb-2"><strong>Level 50</strong></td>
                <td class="skill_cell line_hr pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700151"
                        data-hasqtip="1961"><img src="/assets/skill/icon/10700151.png">
                        <div id="lock-10700151" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700151" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700151">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700151"></span>/<span class="lv_value" id="point-max-10700151"></span><button
                            class="skill_btn" data-skillid="10700151" name="btn" >+</button></div>
                </td>
                <td class="line_129_sp"></td>
                <td></td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700161"
                        data-hasqtip="1962"><img src="/assets/skill/icon/10700161.png">
                        <div id="lock-10700161" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700161" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700161">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700161"></span>/<span class="lv_value" id="point-max-10700161"></span><button
                            class="skill_btn" data-skillid="10700161" name="btn" >+</button></div>
                </td>
                <td></td>
                <td class="skill_cell line_vu pb-2">
                    <div class="skill_wrapper qtooltip" data-enabled="1" data-enchant="0" data-id="skill--10700071"
                        data-hasqtip="1956"><img src="/assets/skill/icon/10700071.png">
                        <div id="lock-10700071" class="lock_state locked"></div>
                    </div>
                    <div class="skill_buttons" data-id="10700071" data-max_level="10"><button class="skill_btn" name="-btn" data-skillid="10700071">-</button><span
                            class="skill_level lv_value" data-lv="0" id="point-10700071"></span>/<span class="lv_value" id="point-max-10700071"></span><button
                            class="skill_btn" data-skillid="10700071" name="btn" >+</button></div>
                </td>
            </tr>
        </tbody>
    </table>
    <small id="as" class="text-muted">Local autosave enabled 😀</small>
</div>